.friendscontainer {
    top: 10vh;
    left: 20vw;
    width: 78vw;
    height: 18vh;
    display: flex;
    position: absolute;
    align-self: flex-start;
    max-height: 100%;
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #000000;
}

.chatcontainer {
    top: 30vh;
    left: 20vw;
    width: 78vw;
    height: 68vh;
    display: flex;
    position: absolute;
    align-self: flex-start;
    max-height: 100%;
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #000000;
}

.infoscontainer {
    top: 2vh;
    left: 20vw;
    width: 80vw;
    height: 10vh;
    display: flex;
    position: absolute;
    align-self: flex-start;
    max-height: 100%;
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
}

.usercontainer {
    bottom: 0vh;
    width: 78vw;
    height: 5vh;
    display: flex;
    position: absolute;
    align-self: flex-start;
    max-height: 100%;
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(162, 162, 162);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #000000;
}

.message {
    color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 1vh;
    left: 5vw;
    font-size: 40px;
    font-weight: bold;
}

.message_input {
    color: rgb(0, 0, 0);
    display: flex;
    position: absolute;
    top: 1.25vh;
    left: 5vw;
    font-size: 40px;
    font-weight: bold;
}

.submit-btn{
    right: 4vw;
    top: 1vh;
    width: 10vw;
    height: 3vh;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(103, 73, 238);
    border-radius: 10px;
}