{% extends '../home/home.html' %}

{% load static %}

{% block title %}Chat{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}

{% block infos%}
    <div class="infoscontainer">
        <p class="message">Messagerie instantannée</p>
    </div>
{% endblock %}

{% block chat %}

<div class="friendscontainer">

    <h1>Amis :</h1>

    {% for user in users %}
    <tr>
        <td><a href="{% url 'friendchat' username=user.username%}">{{user.username}}</a></td>
    </tr>
    {% endfor %}
    
</div>

<div class="chatcontainer">
    <div id="chat-body">
    </div>
    <div class="usercontainer">
        <input class="message_input" type="text" id="message_input" placeholder="Write message...">
        <button class="submit-btn" id="chat-message-submit">Send</button>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>

    const username = '{{user.username}}'
    const id = '{{requested_user_id}}'  
    var privateKey = null;  

    const socket = new WebSocket(
        'wss://'
        + '172.20.10.3:8001'
        + '/ws/'
        + id
        + '/'
    );

    socket.onopen = function(e){
        console.log("CONNECTION ESTABLISHED");
    }

    socket.onclose = function(e){
        console.log("CONNECTION LOST");
    }

    socket.onerror = function(e){
        console.log("ERROR OCCURED");
    }

    document.querySelector('#chat-message-submit').onclick = function(e){
        const message_input = document.querySelector('#message_input');
        const message = message_input.value;

        socket.send(JSON.stringify({
            'message':message,
            'username' : username
        }));

        message_input.value = '';
    }

    socket.onmessage = function(e){
        const data = JSON.parse(e.data);
        document.querySelector('#chat-body').innerHTML += `<h1>${data.username} : ${data.message}<\h1><hr>`;
        console.log(data.username)
    }

    function getPrivateKey(){

        function reqListener() {
            privateKey = this.response;
        }

        const req = new XMLHttpRequest();
        req.addEventListener("load", reqListener);
        req.open("GET", "{% url 'api' %}");
        req.send();

    }
    
    getPrivateKey();

    
</script>

{% endblock %}