{% extends '../home/home.html' %}

{% load static %}

{% block title %}Chat{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}

{% block infos%}
    <div class="infoscontainer">
        <p class="info">Messagerie instantannée</p>
    </div>
{% endblock %}

{% block chat %}

<div class="friendscontainer">

    {% for user in users %}
    <tr>
        <td><a class="friends" href="{% url 'friendchat' username=user.username%}">{{user.username}}</a></td>
    </tr>
    {% endfor %}

</div>

<div class="info" style="top: 29vh;color: rgb(255, 255, 255);font-size: 40px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;">Conversation avec {{username}}</div>
<div class="info" style="top: 32vh;color: rgb(255, 255, 255);font-size: 30px;" id="connection_status">En attente de connection...</div>

<div class="chatcontainer">
    <div id="chat-body" style="width: 100%;">
    </div>
</div>

<div class="usercontainer">
    <input class="message_input" type="text" id="message_input" placeholder="Ecrire un message...">
    <input class="file_input" type="file" id="chat-image-submit" name="image" accept="image/png, image/jpeg">
    <button class="submit-btn" id="chat-message-submit">Envoyer</button>
</div>

{% endblock %}

{% block javascript %}
<script>

    const username = '{{user.username}}';
    const id = '{{requested_user_id}}';

    const socket = new WebSocket(
        'wss://'
        + '192.168.1.124:8001'
        + '/ws/'
        + id
        + '/'
    );

    var image_input = document.getElementById("chat-image-submit");
    
    const headers = new Headers();
    headers.append("User", username);

    const options = {
        method: "GET",
        headers: headers
    };

    socket.onopen = function(e){
        console.log("CONNECTION ESTABLISHED");
        document.querySelector('#connection_status').innerHTML = `Connection établie`;
    }

    socket.onclose = function(e){
        console.log("CONNECTION LOST");
        document.querySelector('#connection_status').innerHTML = `Connection perdue`;
    }

    socket.onerror = function(e){
        console.log("ERROR OCCURED");
        document.querySelector('#connection_status').innerHTML = `Une erreur est survenue`;
    }

    function convertPemToBinary(pem) {
        var lines = pem.split('\n')
        var encoded = ''
        for(var i = 0;i < lines.length;i++){
            if (lines[i].trim().length > 0 &&
                lines[i].indexOf('-BEGIN RSA PRIVATE KEY-') < 0 &&
                lines[i].indexOf('-BEGIN RSA PUBLIC KEY-') < 0 &&
                lines[i].indexOf('-END RSA PRIVATE KEY-') < 0 &&
                lines[i].indexOf('-END RSA PUBLIC KEY-') < 0) {
            encoded += lines[i].trim()
            }
        }
        return base64StringToArrayBuffer(encoded)
    }

    function base64StringToArrayBuffer(b64str) {
        var byteStr = atob(b64str)
        var bytes = new Uint8Array(byteStr.length)
        for (var i = 0; i < byteStr.length; i++) {
            bytes[i] = byteStr.charCodeAt(i)
        }
        return bytes.buffer
    }

    function textToArrayBuffer(str) {
        var buf = unescape(encodeURIComponent(str))
        var bufView = new Uint8Array(buf.length)
        for (var i=0; i < buf.length; i++) {
            bufView[i] = buf.charCodeAt(i)
        }
        return bufView
    }

    function arrayBufferToText(arrayBuffer) {
        var byteArray = new Uint8Array(arrayBuffer)
        var str = ''
        for (var i=0; i<byteArray.byteLength; i++) {
            str += String.fromCharCode(byteArray[i])
        }
        return str
    }

    fetch("{% url 'api' %}", options).then(response => response.json()).then(json => {

        const algorithm = {
            name: 'RSA-OAEP',
            // specify the hash algorithm to use with the RSA key
            hash: 'SHA-256',
        };

        // import the public key as an RSA-OAEP key
        crypto.subtle.importKey(
            'spki',
            convertPemToBinary(json.publicKey),
            algorithm,
            false,
            ['encrypt']
        ).then(function(publicKey){

            document.querySelector('#chat-message-submit').onclick = function(e){
                const message_input = document.querySelector('#message_input');
                const message = message_input.value;

                crypto.subtle.encrypt(
                    {
                        name: 'RSA-OAEP',
                    },
                    publicKey,
                    textToArrayBuffer(message)
                ).then(function(ciphertext){
                    //console.log("Message chiffré à envoyer : ", new Uint8Array(ciphertext).toString())
                    socket.send(JSON.stringify({
                        'type': 'text',
                        'message': new Uint8Array(ciphertext).toString(),
                        'username' : username
                    }));

                    //document.querySelector('#user-body').innerHTML += `${username} :`;
                    document.querySelector('#chat-body').innerHTML += `<div class="message" style="background-color: #838383;margin:10px;">${username} : ${message}<\div>`;

                    message_input.value = '';
                })

            }

            image_input.addEventListener("change", function(){
                if(image_input.files.length > 0){
                    var file = image_input.files[0];
                    var reader = new FileReader();
                    reader.readAsArrayBuffer(file);
                    reader.onload = function() {
                        var data = new Uint8Array(reader.result);      

                        /*crypto.subtle.encrypt(
                            {
                                name: 'RSA-OAEP',
                            },
                            publicKey,
                            data
                        ).then(function(ciphertext){
                            var image = new Uint8Array(ciphertext)
                            console.log(image)
                        })*/

                        socket.send(JSON.stringify({
                            'type': 'image',
                            'message': new Uint8Array(reader.result).toString(),
                            'username' : username
                        }));

                        var blob = new Blob([data], {type: "image/jpeg"});
                        var imageURL = URL.createObjectURL(blob);
                        var image_output = document.createElement("img");
                        image_output.src = imageURL;

                        document.querySelector('#chat-body').innerHTML += `<div class="message" style="background-color: #838383;margin:10px;">${username} : <\div>`;
                        document.getElementById("chat-body").appendChild(image_output);

                        image_input.value = '';

                    }                    
                }
            })
        })

        // import the private key as an RSA-OAEP key
        const privateKey = crypto.subtle.importKey(
            'pkcs8',
            convertPemToBinary(json.privateKey),
            algorithm,
            false,
            ['decrypt']
        ).then(function(privateKey){
            socket.onmessage = function(e){
                const data = JSON.parse(e.data);
                if(data.username != username){

                    if(data.type == "text"){
                        const values = data.message.split(",");
                        const numbers = values.map(value => parseInt(value, 10));
                        const message = Uint8Array.from(numbers);
                        crypto.subtle.decrypt(
                            {
                                name: "RSA-OAEP",
                            },
                            privateKey,
                            message
                        ).then(function(message){
                            const uncrypted_message = arrayBufferToText(message)
                            //document.querySelector('#user-body').innerHTML += `${username} :`;
                            document.querySelector('#chat-body').innerHTML += `<div class="message" style="background-color: #b6b6b6;margin:10px;">${data.username} : ${uncrypted_message}<\div>`;
                        })
                    }else{
                        const values = data.message.split(",");
                        const numbers = values.map(value => parseInt(value, 10));
                        const message = Uint8Array.from(numbers);

                        console.log(message);

                        var blob = new Blob([message], {type: "image/jpeg"});
                        var imageURL = URL.createObjectURL(blob);
                        var image_output = document.createElement("img");
                        image_output.src = imageURL;

                        document.querySelector('#chat-body').innerHTML += `<div class="message" style="background-color: #838383;margin:10px;">${data.username} : <\div>`;
                        document.getElementById("chat-body").appendChild(image_output);
                    }  
                }
            }
        })

    })

    /*image_input.addEventListener("change", function() {
        if(image_input.files.length > 0){
            var file = image_input.files[0];

            console.log(file)

            var reader = new FileReader();
            reader.readAsArrayBuffer(file);
            reader.onloadend = function() {
                var arrayBuffer = reader.result;
                var data = new Uint32Array(arrayBuffer);

                console.log(data)

                var blob = new Blob([data], {type: "image/jpeg"});
                var imageURL = URL.createObjectURL(blob);
                var image_output = document.createElement("img");
                image_output.src = imageURL;
                image_output.width = 200;
                image_output.height = 200;

                document.querySelector('#chat-body').innerHTML += `<div class="message" style="background-color: #838383;margin:10px;">${username} : <\div>`;
                document.getElementById("chat-body").appendChild(image_output);

            };
        }else{
            console.log("No file selected.");
        }

        image_input.value = "";

    });*/

</script>

{% endblock %}