{% extends '../home/home.html' %}

{% load static %}

{% block title %}Chat{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'chat/css/friendsnav.css' %}">
{% endblock %}

{% block infos%}
    <div class="infoscontainer">
        <p class="message">Messagerie instantannée</p>
    </div>
{% endblock %}

{% block chat %}

<div class="friendscontainer">

    {% for user in users %}
    <tr>
        <td><a class="friends" href="{% url 'friendchat' username=user.username%}">{{user.username}}</a></td>
    </tr>
    {% endfor %}
    
</div>

{% endblock %}