{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'chat/css/home.css' %}">
        <title>Home</title>
    </head>

    <body>

    {% if user.is_authenticated %}

    <div class="header">
        <h1 class="welcomemsg">Bonjour, {{ user.username }} !</h1>
        <svg viewBox="0 0 1024 1024" class="profilicon">
          <path
            d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
          ></path>
        </svg>
        <a class="logoutbtn" href="{% url 'logout' %}">Logout</a>
    </div>

    {% for user in users %}
    <tr>
        </td>
        <p>{{user.username}}</p>
        </td>
    </tr>
    {% endfor %}

    <script type="module">

        import * as wcb from "{% static 'chat/js/encryption/webcryptobox.js' %}"        

        var crsftoken = '{{ csrf_token }}'

        const { privateKey, publicKey } = await wcb.generateKeyPair()
        const pub = await wcb.exportPublicKeyPem(publicKey)
        const pri = await wcb.exportPrivateKeyPem(privateKey)

        function sendInfos(){
            const requestObj = new XMLHttpRequest()
            requestObj.open('POST', "{% url 'api' %}")
            requestObj.setRequestHeader("X-CSRFToken", crsftoken)
            requestObj.send(JSON.stringify({
                "user": '{{ user.username }}',
                "publicKey": pub
            }))
        }
        window.onload = sendInfos();
        

    </script>

    {% else %}

    <div class="alert alert-success" role="alert">
        <h3>Bienvenue, vous n'êtes pas connecté !</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>

    {% endif %}

    </body>
</html>