{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="{% static 'chat/css/home.css' %}">
        {% block css %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

    {% if user.is_authenticated %}
        
    <div class="header">
        <h1 class="welcomemsg">Bonjour, {{ user.username }} !</h1>
        <svg viewBox="0 0 1024 1024" class="profilicon">
          <path
            d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
          ></path>
        </svg>
        <a class="logoutbtn" href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="friendscontainer">
        {% block friends %}{% endblock %}
    </div>
    <div class="messagescontainer">
        {% block messages %}{% endblock %}
    </div>

    {% block javascript %} {% endblock %}
    
    <!--
    {% for user in users %}
    <tr>
        </td>
        <p>{{user.username}}</p>
        </td>
    </tr>
    {% endfor %}

-->
    <script type="module">

        const asymmetricAlgorithms = [
        'RSASSA-PKCS1-v1_5',
        'RSA-PSS',
        'RSA-OAEP',
        'ECDSA',
        'ECDH',
        ]

        const txtToBuf = (txt) => new TextEncoder().encode(txt)
        const bufToTxt = (buf) => new TextDecoder().decode(buf)

        const { publicKey, privateKey } = await crypto.subtle.generateKey(
        {
            name: asymmetricAlgorithms[2],
            modulusLength: 4096,
            publicExponent: new Uint8Array([1, 0, 1]),
            hash: "SHA-256"
        },
        true,
        ['encrypt', 'decrypt']
        )

        console.log(publicKey)
        console.log(privateKey)

        console.log(crypto.subtle.exportKey("jwk", publicKey))
      
    </script>

    {% else %}

    <div class="alert alert-success" role="alert">
        <h3>Bienvenue, vous n'êtes pas connecté !</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>

    {% endif %}

    </body>
</html>