{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
        <title>Register</title>
    </head>

    <body>
        <span class="registerlogo">Se créer un compte.</span>
        <div class="register-container">
            <form class="register-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <span>{{form.username}}</span>
                <span>{{form.first_name}}</span>
                <span>{{form.last_name}}</span>
                <span>{{form.email}}</span>
                <span>{{form.password1}}</span>
                <span>{{form.password2}}</span>
                <input type="submit" value="S'enregistrer" class="registerbtn">
                <span class="login">Déjà membre ?</span>
                <a class="loginbtn" href="{% url 'login' %}">Se connecter</a>
            </form>
        </div>
    </body>
</html>