{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
        <title>Register</title>
    </head>

    <body>
        <div class="register-container">
            <form class="register-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{form.username}}
                {{form.password1}}
                {{form.password2}}
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        </div>
    </body>
</html>