.usercontainer {
    top: 2vh;
    left: 20vw;
    width: 80vw;
    height: 10vh;
    display: flex;
    position: absolute;
    align-self: flex-start;
    max-height: 100%;
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
  }

.devcontainer {
    top: 15vh;
    left: 20vw;
    width: 80vw;
    height: 10vh;
    display: flex;
    position: absolute;
    align-self: flex-start;
    max-height: 100%;
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #222222;
  }

.message {
    color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 3vh;
    left: 5vw;
}