body {
  background: rgb(0,4,40);
  background: linear-gradient(32deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
 }
 
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.login-form {
  width: 70vw;
  height: 17vh;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0px #000000;
}
.password {
  top: 35%;
  left: 5%;
  width: 89%;
  height: 3.5vh;
  position: absolute;
  border-radius: 5px;
  border-width: 1px;
}
.username {
  top: 10%;
  left: 5%;
  width: 89%;
  height: 3.5vh;
  position: absolute;
  border-radius: 5px;
  border-width: 1px;
}
.loginbtn {
  top: 60%;
  left: 10%;
  width: 80%;
  height: 3.5vh;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(21, 152, 0);
  border-radius: 10px;
}
.loginbtn:hover{
  background-color: #1ac704; 
}
.registerbtn {
  left: 40%;
  top: 86%;
  margin: auto;
  display: flex;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.register {
  left: 5%;
  top: 86%;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}

input[type="text"]
{
    font-size:26px;
}

input[type="password"]
{
    font-size:26px;
}

.sendapplogo {
  top: 30vh;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 120px;
  font-style: normal;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.enstalogo {
  left: 0px;
  width: 250px;
  bottom: 0px;
  height: 80px;
  position: absolute;
  object-fit: cover;
}

.github {
  fill: #ffffff;
  width: 6vw;
  height: 4vh;
  margin: 15px;
}