body {
    background: rgb(0,4,40);
    background: linear-gradient(32deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
}

.register-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
  }

.register-form {
    width: 70vw;
    height: 17vh;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #000000;
  }