body {
    background: #212121;
}

.register-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
  }

.register-form {
    width: 70vw;
    height: 38vh;
    position: relative;
  }

.registerlogo {
    top: 25vh;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    font-size: 90px;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
  }

.input-form{
    top: var(--top_level);
    left: 5%;
    width: 90%;
    height: 3.5vh;
    position: absolute;
    border-radius: 5px;
    border-width: 1px;
}

.registerbtn {
    top: 31.3vh;
    left: 10%;
    width: 80%;
    height: 3.5vh;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    background-color: #25cb70;
    border-radius: 10px;
  }

.loginbtn {
    left: 30%;
    top: 36vh;
    margin: auto;
    display: flex;
    position: absolute;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    color: #ffffff;
  }
.login {
    left: 5%;
    top: 36vh;
    position: absolute;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    color: #ffffff;
  }

input[type="text"], input[type="password"]{
      font-size:26px;
  }